version: '3.8'

services:
  backend:
    build:
      context: ./backend   # backend Dockerfile shu yerda bo‘lishi shart
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production

  frontend:
    build:
      context: ./frontend  # frontend Dockerfile shu yerda bo‘lishi shart
    ports:
      - "8080:80"

